.header {
  display: flex;
  align-items: center;

  gap: 2rem;
}

.header a {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.header-logo {
  display: block;
  width: 2rem;
}

.title-grup i {
  margin-right: 0.5rem;
}
