<mat-card class="product-create mat-elation-z1">
  <mat-card-header>
    <mat-card-title class="title">
      Deseja Mesmo Deletar o produto {{ product.name }}?
    </mat-card-title>
    <mat-card-subtitle class="title">
      Ação não poderá ser desfeita
    </mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <p>Detalhes:</p>
    <form>
      <mat-form-field>
        <p>Nome</p>
        <input
          matInput
          type="text"
          placeholder="Nome"
          [(ngModel)]="product.name"
          name="name"
          disabled
        />
      </mat-form-field>

      <mat-form-field>
        <p>Preço (R$)</p>
        <input
          name="price"
          matInput
          type="number"
          placeholder="Preço (R$)"
          disabled
          [(ngModel)]="product.price"
        />
      </mat-form-field>
    </form>
  </mat-card-content>

  <mat-card-footer class="actions">
    <button mat-raised-button (click)="onDeleteProduct()" color="accent">
      Confirmar
    </button>

    <button mat-raised-button (click)="onCancel()">Cancelar</button>
  </mat-card-footer>
</mat-card>
