<mat-sidenav-container class="container">
  <mat-sidenav
    class="sidenav"
    mode="side"
    opened
    fixedInViewport="true"
    fixedTopGap="64"
  >
    <mat-nav-list class="nav-list">
      <a mat-list-item href="/">
        <div class="sidenav-item">
          <i class="material-icons">home</i>
          <p>Início</p>
        </div>
      </a>

      <a mat-list-item href="/products">
        <div class="sidenav-item">
          <i class="material-icons">storefront</i>
          <p>Produtos</p>
        </div>
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content class="content">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
